@page "/unauthorized"
@page "/Account/AccessDenied"
@attribute [AllowAnonymous]

<PageTitle>Unauthorized</PageTitle>

<h1>Unauthorized</h1>
<p>You do not have permission to access this resource.</p>
<p>
    <a href="/login">Sign in with a different account</a>
    or
    <a href="/register">register a new account</a>.
</p>
